@media (max-width: 628px) {
    
    .myCardText{
        font-size: 30px !important;
        margin-top: 2rem;
    
    }
}

@media (min-width: 628px) {
    
    .myCardText{
        font-size: 50px !important;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .card{
        margin-bottom: 1rem;
    }
}


@media (min-width: 992px) {
    
    .myCardText{
        font-size: 80px !important;
    
    }
}

@media (max-width: 992px) {
    .mySocial{
        margin-top: 1rem !important;
        
    }
    .myButton{
        max-width: 8rem !important;
        
    }

    
}

.myButton{
    width: 15rem !important;
    border-radius: 25px !important;
}


